extends layout


block header
	h1 #{title}
	if logged_in
		a(href="/logout", rel="external", class="ui-btn-right") Logout
	else
		a(href="/login", rel="external", class="ui-btn-right") Login

block content
	mixin listItem(name, user_id)
		li(data-icon="false"): a(href="/profile/#{user_id}", rel="external") #{name.givenName} #{name.familyName}
	ul(data-role="listview")
		each user in users
			+listItem(user.name, user.foursquareId)