extends layout


block header
	h1 #{title}

block content
	mixin listItem(user, checkin)
		li(data-icon="false"): a #{name.givenName} #{name.familyName} checked in at #{checkin.venue.name}
	ul(data-role="listview")
		each checkin in checkins
			+listItem(user, checkin)