extends layout


block header
	h1 #{title}
	a(href="/login", rel="external", class="ui-btn-right") Login

block content
	mixin listItem(name)
		li(data-icon="false"): a #{name}
	ul(data-role="listview")
		each user in users
			+listItem(user.name)