extends layout


block header
	h1 #{title}
	if logged_in
		a(href="/logout", rel="external", class="ui-btn-right") Logout
	else
		a(href="/login", rel="external", class="ui-btn-right") Login
		a(href="/logout", rel="external", class="ui-btn-right") Logout

block content
	mixin listItem(user, checkin)
		li(data-icon="false"): a #{user.name.givenName} #{user.name.familyName} checked in at #{checkin.venue.name}
	ul(data-role="listview")
		each checkin in checkins
			+listItem(user, checkin)